APP_NAME=ABC
APP_ENVIRONMENT=ABC
APP_HOST=ABC
APP_PORT=ABC
APP_LOGGING_LEVEL=ABC
APP_RELOAD=ABC
APP_TIMEOUT=ABC
APP_WORKERS=ABC
OPENAI_API_KEY=ABC
TAVILY_API_KEY=ABC
LANGFUSE_SECRET_KEY=ABC
LANGFUSE_PUBLIC_KEY=ABC
LANGFUSE_BASE_URL=ABC
DATABASE_URL=ABC