langchain~=1.2.9
langchain-openai
python-dotenv~=1.2.1
langgraph~=1.0.8
langchain-mcp-adapters
fastmcp~=2.14.5
IPython
deepagents~=0.3.12
tavily-python
pydantic~=2.12.5
typing_extensions~=4.15.0
langcahin-modal
langfuse